NEXT_PUBLIC_SUPABASE_URL=https://SEU-PROJETO.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_SEU_TOKEN_PUBLICO
GOOGLE_MAPS_API_KEY=SUA_GOOGLE_MAPS_API_KEY
GROQ_API_KEY=SUA_GROQ_API_KEY
